# Node modules
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
logs/
**/logs/
**/*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
